@model Thompson_Trevor_HW7.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h2>Details</h2>
<div>
    <h4>Member</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OKToText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OKToText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.major)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.major)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Event Title
        </th>
        <th>
            Event Date
        </th>
    </tr>
    @foreach (var item in Model.AttendedEvents)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.EventDate)</td>
        </tr>
    }
</table>
