@model Thompson_Trevor_HW7.Models.Committee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h2>Details</h2>
<div>
    <h4>Committee</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CommitteeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Event Title
        </th>
        <th>
            Event Date
        </th>
    </tr>
    @foreach (var item in Model.Events)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.EventDate)</td>
        </tr>
    }
</table>