@model IEnumerable<Thompson_Trevor_HW7.Models.Committee>

@{
    ViewBag.Title = "Index";
}

<h2>
    Committees
</h2>

<p>
    <h2>
        Committees
        </h2>
        @Html.ActionLink("Create New", "Create")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommitteeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommitteeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommitteeID })
        </td>
    </tr>
}

</table>
